@model Amritnagar.Models.ViewModel.DividendWritOfSchViewModel

@{
    ViewBag.Title = "DividendWritOfSch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .size {
        width: 180px;
        height: 25px;
    }

    .size1 {
        width: 120px;
        height: 25px;
    }

    .size2 {
        width: 160px;
        height: 25px;
        background-color: white
    }

    .sizeM {
        width: 100px;
        height: 25px;
    }

    .sizeS {
        width: 50px;
        height: 25px;
    }

    .sizeL {
        width: 150px;
        height: 25px;
    }

    .sizebig {
        width: 300px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }


    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }



    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }
</style>

<form asp-controller="Member" asp-action="DividendWritOfSch" method="post">
    <div class="container" style="height:70px">

    </div>
    <div class="heading mt-4">
        Dividend Write Off Schedule
    </div>
    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-2">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        Branch
                        @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text"), "Select", new { @class = "sizeL" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        Write Off Upto Date
                        @Html.TextBoxFor(p => p.upto_dt, new { @class = "size1", @type = "text" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        Voucher Date
                        @Html.TextBoxFor(p => p.vch_dt, new { @class = "size1", @type = "text" })
                    </div>
                </div>
                <div class="container mt-2">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id=" " class="tab">
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-2 mb-1">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12" id="close" style="background-color: saddlebrown; color: floralwhite; font-size: 14px; font-weight: bold; text-align: center">
                        << Summary >>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="background-color:burlywood;color:brown">
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-9 col-sm-12 col-12">

                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">
                                @Html.TextBoxFor(model => model.prnt_bal, new { @class = "size2", @type = "text" })
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</form>