
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 40px;
        text-align: center;
    }
</style>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="container justify-content-center" style="width:1000px">
        <div class="container" style="height:100px">

        </div>
        <div class="row mt-2">
            <div class="col-11">

            </div>
            <div class="col-1">
                <input id="btndashBoard" type="button" value="DashBoard" name="btndashBoard" class="btn btn-danger pull-right" onclick="ShowDashBoard()" />
            </div>

        </div>
        <div class="container" style="height:100px">

        </div>
        <div class=" row heading mt-4">
            <div class="col-lg-12 text-center">
                Welcome To Amritnagar CCS2.
            </div>

        </div>
    </div>

</form>

@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="~/Content/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/js/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        function ShowDashBoard() {
            window.location.href = "@Url.Action("DashBoard", "Home")";
            }
    </script>
}